In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns # 시각화 라이브러리

In [7]:
train = pd.read_csv('./data/Train.csv')
test = pd.read_csv('./data/Test.csv')

In [3]:
train.shape

(6999, 12)

In [4]:
test.shape

(4000, 11)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6999 entries, 0 to 6998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6999 non-null   int64
 1   Warehouse_block      6999 non-null   object
 2   Mode_of_Shipment     6999 non-null   object
 3   Customer_care_calls  5423 non-null   float64
 4   Customer_rating      6999 non-null   int64
 5   Cost_of_the_Product  6999 non-null   int64
 6   Prior_purchases      6049 non-null   float64
 7   Product_importance   6999 non-null   object
 8   Gender               6999 non-null   object
 9   Discount_offered     3468 non-null   float64
 10  Weight_in_gms        6999 non-null   object
 11  Reached.on.Time_Y.N  6999 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 656.3+ KB

In [9]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4000 non-null   int64
 1   Warehouse_block      4000 non-null   object
 2   Mode_of_Shipment     4000 non-null   object
 3   Customer_care_calls  3144 non-null   float64
 4   Customer_rating      4000 non-null   int64
 5   Cost_of_the_Product  4000 non-null   int64
 6   Prior_purchases      3633 non-null   float64
 7   Product_importance   4000 non-null   object
 8   Gender               4000 non-null   object
 9   Discount_offered     2085 non-null   float64
 10  Weight_in_gms        4000 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 343.9+ KB

In [10]:
train.drop('ID',axis =1 ,inplace=True)
test.drop('ID',axis =1 ,inplace=True)

In [11]:
test.drop('Gender',axis =1, inplace=True)
train.drop('Gender',axis =1, inplace=True)

In [ ]:
def fill_Customer_care_calls(row):
    # 만약 나이가 결측치라면 피봇테이블에서 값을 가져와서 채우겠다.
    if np.isnan(row['Prior_purchases']):
        return test['Customer_care_calls'].fillna(0,inplace=True)
    else:
        return test['Customer_care_calls'].fillna(4,inplace=True)
    
def fill_Customer_care_calls(row):
    # 만약 나이가 결측치라면 피봇테이블에서 값을 가져와서 채우겠다.
    if np.isnan(row['Prior_purchases']):
        return train['Customer_care_calls'].fillna(0,inplace=True)
    else:
        return test['Customer_care_calls'].fillna(4,inplace=True)